<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"
        ></script>
        <script src="/javascripts/fetchWeatherInfo.js"></script>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <table>
            <tr>
                <td><label for="city">City:</label></td>
                <td><input type="text" id="city" name="city" /></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">(OR)</td>
            </tr>
            <tr>
                <td><label for="lon">Longitude:</label></td>
                <td><input type="text" id="lon" name="lon" /></td>
            </tr>
            <tr>
                <td><label for="lat">Latitude:</label></td>
                <td><input type="text" id="lat" name="lat" /></td>
            </tr>
        </table>
        <button type="button" id="get-weather-btn">Get Weather</button>
        <div id="weather-info"></div>
    </body>
</html>
